<h1>Name: @ViewBag.Ninja.NinjaName</h1>

<p>Ninjaing Level - @ViewBag.Ninja.NinjaLevel</p>

<p>Description: @ViewBag.Ninja.Description</p>

<p>Current Dojo - <a href="/dojos/@ViewBag.Ninja.dojo.Id">@ViewBag.Ninja.dojo.DojoName</a></p>

<a href="/ninjas" class="button">Go Back</a>