@model TheDojoLeague.Models.Dojo
<a href="/">Home</a>
<div class="row">
    <div class="col">
        <h1 class="title">All Dojos Ninjas</h1>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Dojo Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Coding Dojo</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h1 class="title">Register a Dojo</h1>
        <form asp-controller="NinjaDojo" asp-action="RegisterDojo" method="post">
            <label asp-for="DojoName"></label>
            <input asp-for="DojoName">

            <label asp-for="DojoLocation"></label>
            <input asp-for="DojoLocation">

            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>

            <input type="submit" value="Add" class="button">
            
        </form>
    </div>
</div>