@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h1 class="title">Choose Wisely</h1>
</div>
<div class="row">
    <div class="col">
        <a href="/ninjas" class="button large">Ninjas</a>
    </div>
    <div class="col">
        <a href="/dojos" class="button large">Dojos</a>
    </div>
</div>