/*Write all of your CSS here*/
body {
    padding-top: 2rem;
}

.button {
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 12px;
    font-size: 1.2rem;
    display: table;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
}

.large {
    font-size: 2rem;
    padding: 18px 18px;
    border-width: 4px;
}

.button:hover {
    text-decoration: none;
    color: #000000;
    background-color: transparent;
}

.large:hover {
    padding-top: calc(18px + 12px);
    padding-bottom: calc(18px - 12px);
    background-image: url(../images/ninja_star.png);
    background-size: 40px 40px;
    background-position: top right;
    background-repeat: no-repeat;
}

h1.title {
    text-decoration: center;
    margin: 0 auto 2rem;
}

form label {
    display: block;
    margin-top: 1rem;
}